*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    padding: 10px;
   
}

.calculator{
    margin-top: 10%;
    margin-left: 10%;
    width: 100%;
    max-width: 600px;
}


.calculator h1{
    font-size: 50px;
}

.calculator h1 span{
    color: #ffff76;
}

.input{
    margin-top: 30px;
    background-color:rgba(255, 255,255,0.3);
    padding: 25px 10px;
 margin:40px 0;
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex: 1;
 
}


.input button{
    padding: 15px 30px;
    color: #333;
    background: #ffff76;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.input input{
    padding: 15px 30px;
   
        background: #fff;
    border:none;
    border-radius: 5px;
    font-size: 24px;
    margin-left: 10px;
    width: 70%;
}




.calculator h3 span{
    color:#ffff76;
}


@media (max-width:700px) {
    .input{
        flex-direction: column;
        gap: 20px;
        align-items: start;
        max-width: 400px;
    }
}
